// app global css in SCSS form

.container {
	max-width: 80em;
}

.tag-not-selected {
	background-color: $primary-faded;
}

.tag-selected {
	background-color: $primary;
}

.warning-banner {
	border: 1px dashed $negative;
	background-color: $negative-faded;
}

.q-markdown--link {
	color: $accent;
}
